:root {
    --left-main: #8AC6D0;
    --right-side-main: #554971;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;

    display: flex;
    flex-grow: 1;
    align-items: stretch;
}

body>div {
    height: 100vh;
    width: 50%;
    margin: 0;
}

body>.line {
    width: 1.5%;
    height: 100vh;
    margin: 0;
}

#left {
    background-color: var(--left-main);
    display: flex;
    justify-content: center;
}

#left>.logo {
    width: 37.5vw;
    align-self: start;

    transition-duration: 650ms;
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

#left:hover>.logo {
    width: 42.5vw;
}

#right {
    background-color: var(--right-side-main);
}